openapi: 3.2.0
info:
  title: Mercedes Me References API
  version: '1.0'
  contact:
    name: The open API platform by Mercedes-Benz
    x-twitter: MercedesBenz
  x-apisguru-categories:
  - transport
  x-logo:
    url: https://twitter.com/MercedesBenz/profile_image?size=original
  x-refined-note:
  - x-origin differs across the merged source definitions and was not carried
  - x-serviceName differs across the merged source definitions and was not carried
  x-providerName: mercedes-benz.com
  description: 'Operations tagged References across 2 of this provider''s published API definitions: mercedes-me-configurator-api-openapi.yml, mercedes-me-dealer-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.mercedes-benz.com/configurator_tryout/v1
- url: https://api.mercedes-benz.com/dealer_tryout/v1
tags:
- description: Provide static reference data about cars like markets, bodies, classes, etc.
  name: References
paths:
  /markets:
    x-swagger-router-controller: References
    get:
      description: Get all available `Markets`. Optional query params **language** or **country** may be used to filter the result.
      operationId: marketsGET
      parameters:
      - $ref: '#/components/parameters/languageParam'
      - $ref: '#/components/parameters/countryParam'
      - $ref: '#/components/parameters/fieldsFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Market'
                title: Markets
                type: array
        '204':
          description: No content found for requested parameters language and/or country
        '400':
          description: "Invalid parameter was specified:\n * Language parameter is not valid\n * Country parameter is not valid"
        '401':
          description: "Unauthorized:\n  * Failed to resolve API Key query parameter\n  * Invalid API Key"
        '429':
          description: Quota limit is exceeded
        '500':
          description: An Error occurred on the server side
      summary: Get All Available Markets
      tags:
      - References
    servers:
    - url: https://api.mercedes-benz.com/configurator_tryout/v1
  /markets/{marketId}:
    x-swagger-router-controller: References
    get:
      description: Gets the `Market` for the given **marketId**. There are no query parameters to filter the result.
      operationId: marketGET
      parameters:
      - $ref: '#/components/parameters/marketId'
      - $ref: '#/components/parameters/fieldsFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Market'
        '400':
          description: MarketId is not valid
        '401':
          description: "Unauthorized:\n  * Failed to resolve API Key query parameter\n  * Invalid API Key"
        '404':
          description: Market not found for requested marketId
        '429':
          description: Quota limit is exceeded
        '500':
          description: An Error occurred on the server side
      summary: Get the Market with the Given marketId
      tags:
      - References
    servers:
    - url: https://api.mercedes-benz.com/configurator_tryout/v1
  /markets/{marketId}/bodies:
    x-swagger-router-controller: References
    get:
      description: Get all available `VehicleBodies` for the given **marketId**. Optional query params **classId** **bodyId** or **productGroups** may be used to filter the result and must conform to the pattern [0-9A-Z_-]+.
      operationId: bodiesGET
      parameters:
      - $ref: '#/components/parameters/marketId'
      - $ref: '#/components/parameters/classIdParam'
      - $ref: '#/components/parameters/bodyIdParam'
      - $ref: '#/components/parameters/productGroups'
      - $ref: '#/components/parameters/fieldsFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VehicleBody'
                title: VehicleBodies
                type: array
        '204':
          description: No content found for requested parameters classId, bodyId and/or productGroups
        '400':
          description: "Invalid parameter was specified:\n * MarketId is not valid\n * ClassId is not valid\n * BodyId is not valid\n * ProductGroups is not valid"
        '401':
          description: "Unauthorized:\n  * Failed to resolve API Key query parameter\n  * Invalid API Key"
        '404':
          description: Market not found
        '429':
          description: Quota limit is exceeded
        '500':
          description: An Error occurred on the server side
      summary: Get All Available Bodies for the Given marketId
      tags:
      - References
    servers:
    - url: https://api.mercedes-benz.com/configurator_tryout/v1
  /markets/{marketId}/bodies/{bodyId}:
    x-swagger-router-controller: References
    get:
      description: Get the `VehicleBody` for the given **marketId** and **bodyId**.
      operationId: bodyGET
      parameters:
      - $ref: '#/components/parameters/marketId'
      - $ref: '#/components/parameters/bodyId'
      - $ref: '#/components/parameters/fieldsFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleBody'
        '400':
          description: "Invalid parameter was specified:\n * MarketId is not valid\n * BodyId is not valid"
        '401':
          description: "Unauthorized:\n  * Failed to resolve API Key query parameter\n  * Invalid API Key"
        '404':
          description: Market or VehicleBody not found
        '429':
          description: Quota limit is exceeded
        '500':
          description: An Error occurred on the server side
      summary: Get the Body for the Given marketId and bodyId
      tags:
      - References
    servers:
    - url: https://api.mercedes-benz.com/configurator_tryout/v1
  /markets/{marketId}/classes:
    x-swagger-router-controller: References
    get:
      description: Get all available `VehicleClasses` objects for the given **marketId**. Optional query params **classId**, **bodyId** or **productGroups** may be used to filter the result and must conform to the pattern [0-9A-Z_-]+.
      operationId: classesGET
      parameters:
      - $ref: '#/components/parameters/marketId'
      - $ref: '#/components/parameters/classIdParam'
      - $ref: '#/components/parameters/bodyIdParam'
      - $ref: '#/components/parameters/productGroups'
      - $ref: '#/components/parameters/fieldsFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VehicleClass'
                title: VehicleClasses
                type: array
        '204':
          description: No content found for requested parameters classId, bodyId and/or productGroups
        '400':
          description: "Invalid parameter was specified:\n * MarketId is not valid\n * ClassId is not valid\n * BodyId is not valid\n * Product group is not valid"
        '401':
          description: "Unauthorized:\n  * Failed to resolve API Key query parameter\n  * Invalid API Key"
        '404':
          description: Market has not been found
        '429':
          description: Quota limit is exceeded
        '500':
          description: An Error occurred on the server side
      summary: Get All Available Classes for the Given marketId
      tags:
      - References
    servers:
    - url: https://api.mercedes-benz.com/configurator_tryout/v1
  /markets/{marketId}/classes/{classId}:
    x-swagger-router-controller: References
    get:
      description: Get the `VehicleClass` for the given **marketId** and **classId**.
      operationId: classGET
      parameters:
      - $ref: '#/components/parameters/marketId'
      - $ref: '#/components/parameters/classId'
      - $ref: '#/components/parameters/fieldsFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleClass'
        '400':
          description: "Invalid parameter was specified:\n * MarketId is not valid\n * ClassId is not valid"
        '401':
          description: "Unauthorized:\n  * Failed to resolve API Key query parameter\n  * Invalid API Key"
        '404':
          description: Market or VehicleClass not found
        '429':
          description: Quota limit is exceeded
        '500':
          description: An Error occurred on the server side
      summary: Get the Class for the Given marketId and classId
      tags:
      - References
    servers:
    - url: https://api.mercedes-benz.com/configurator_tryout/v1
  /markets/{marketId}/models:
    x-swagger-router-controller: References
    get:
      description: Get the available `VehicleModels` for the given **marketId**. Optional query params **classId**, **bodyId**, **baumuster4prefix**, **baumuster**, **nationalSalesType** or **productGroups** maybe used to filter the result. The baumuster4prefix must conform to the pattern [0-9]{4}.
      operationId: modelsGET
      parameters:
      - $ref: '#/components/parameters/marketId'
      - $ref: '#/components/parameters/classIdParam'
      - $ref: '#/components/parameters/bodyIdParam'
      - $ref: '#/components/parameters/baumuster4prefixParam'
      - $ref: '#/components/parameters/baumusterParam'
      - $ref: '#/components/parameters/nationalSalesTypeParam'
      - $ref: '#/components/parameters/productGroups'
      - $ref: '#/components/parameters/fieldsFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VehicleModel'
                title: VehicleModels
                type: array
        '204':
          description: No content found for requested parameters classId, bodyId, baumuster4prefix, baumuster, nationalSalesType and/or productGroups
        '400':
          description: "Invalid parameter was specified:\n * MarketId is not valid\n * ClassId is not valid\n * BodyId is not valid\n * Product group is not valid\n * baumuster4prefix is not valid"
        '401':
          description: "Unauthorized:\n  * Failed to resolve API Key query parameter\n  * Invalid API Key"
        '404':
          description: Market not found
        '429':
          description: Quota limit is exceeded
        '500':
          description: An Error occurred on the server side
      summary: Get All Available Models for the Given marketId
      tags:
      - References
    servers:
    - url: https://api.mercedes-benz.com/configurator_tryout/v1
  /markets/{marketId}/models/{modelId}:
    x-swagger-router-controller: References
    get:
      description: Get the `VehicleModel` object for the given **marketId** and **modelId**.
      operationId: modelGET
      parameters:
      - $ref: '#/components/parameters/marketId'
      - $ref: '#/components/parameters/modelId'
      - $ref: '#/components/parameters/fieldsFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleModel'
        '400':
          description: "Invalid parameter was specified:\n * MarketId is not valid\n * ModelId is not valid"
        '401':
          description: "Unauthorized:\n  * Failed to resolve API Key query parameter\n  * Invalid API Key"
        '404':
          description: Market or Model not found
        '429':
          description: Quota limit is exceeded
        '500':
          description: An Error occurred on the server side
      summary: Get the Model for the Given marketId and modelId
      tags:
      - References
    servers:
    - url: https://api.mercedes-benz.com/configurator_tryout/v1
  /markets/{marketId}/productgroups:
    x-swagger-router-controller: References
    get:
      description: Get all configured active product groups for the given **marketId**.
      operationId: productGroupsGET
      parameters:
      - $ref: '#/components/parameters/marketId'
      - $ref: '#/components/parameters/fieldsFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroupsPerMarket'
        '400':
          description: MarketId is not valid
        '401':
          description: "Unauthorized:\n  * Failed to resolve API Key query parameter\n  * Invalid API Key"
        '404':
          description: Market not found
        '429':
          description: Quota limit is exceeded
        '500':
          description: An Error occurred on the server side
      summary: Get All Configured Active Product Groups for the Given marketId
      tags:
      - References
    servers:
    - url: https://api.mercedes-benz.com/configurator_tryout/v1
  /countries:
    x-swagger-router-controller: get_countries
    get:
      description: This request returns the countries supported by the Dealer API
      operationId: countriesGET
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HalifiedCountries'
        '400':
          description: "Invalid parameter was specified:\n * Page is not valid\n * Page size is not valid"
        '401':
          description: "Unauthorized:\n  * Failed to resolve API Key query parameter\n  * Invalid API Key"
        '429':
          description: Quota limit is exceeded
        '500':
          description: Internal server error
      tags:
      - References
      summary: Countries GET
      x-summary-source: derived
    servers:
    - url: https://api.mercedes-benz.com/dealer_tryout/v1
components:
  parameters:
    fieldsFilter:
      description: Specifies which fields should be included in the result. If this filter is not used, per default all fields are returned.
      in: query
      name: fieldsFilter
      required: false
      schema:
        type: array
        items:
          type: string
    classId:
      description: This is a class id e.g. '176' for 'A-Klasse' in Germany.
      in: path
      name: classId
      required: true
      schema:
        type: string
        default: '222'
    marketId:
      description: This is a ISO 3166 language country string e.g. 'de_DE' or 'en_GB'.
      in: path
      name: marketId
      required: true
      schema:
        type: string
        default: de_DE
        pattern: ^[a-z]{2}_[A-Z]{2}$
    bodyIdParam:
      description: This is a body id e.g. '1' for 'Limousine' in Germany.
      in: query
      name: bodyId
      required: false
      schema:
        type: string
        default: '2'
    countryParam:
      description: This is a ISO country string e.g. Germany 'DE' or Swiss 'CH'.
      in: query
      name: country
      required: false
      schema:
        type: string
    modelId:
      description: Minimal string that identifies a model e.g. '176042_002'. If no nationalSalesType is available, the modelId only consists of the baumuster e.g. '176042'.
      in: path
      name: modelId
      required: true
      schema:
        type: string
        default: 222980000
    baumuster4prefixParam:
      description: The first four digits of a baumuster are called baumuster4prefix e.g. '1760' for 'Berline' in France.
      in: query
      name: baumuster4prefix
      required: false
      schema:
        type: string
    languageParam:
      description: This is a ISO language string e.g. 'de' and is spoken in Austria 'AT', Germany 'DE' and Swiss 'CH'.
      in: query
      name: language
      required: false
      schema:
        type: string
        default: de
    baumusterParam:
      description: This is a baumuster e.g. '176042' for 'A 180 Limousine' in Germany.
      in: query
      name: baumuster
      required: false
      schema:
        type: string
    productGroups:
      description: "Specifies to which product groups the vehicles belong which should be returned. The product groups are separated from each other by a comma and are case sensitive. Allowed values are:\n  * PKW\n  * VAN\n  * SMART"
      in: query
      name: productGroups
      required: false
      schema:
        type: array
        items:
          enum:
          - PKW
          - VAN
          - SMART
          type: string
    bodyId:
      description: This is a body id e.g. '1' for 'Limousine' in Germany.
      in: path
      name: bodyId
      required: true
      schema:
        type: string
        default: '2'
    classIdParam:
      description: This is a class id e.g. '176' for 'A-Class' in Germany.
      in: query
      name: classId
      required: false
      schema:
        type: string
        default: '222'
    nationalSalesTypeParam:
      description: This is the national sales type (NST) of a distinct baumuster. There is no predefined pattern for the NST, each market defines its NST. e.g. 'E07' in France, 0001 in Germany and ZA1 in South Africa Using the NST markets can define market specific conditions. e.g. different initial configuration, etc.
      in: query
      name: nationalSalesType
      required: false
      schema:
        type: string
    pageSize:
      description: 'The index of the page to be returned. If this parameter is omitted, the first page will be returned.

        '
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
        format: int32
    page:
      description: 'The index of the page to be returned. If this parameter is omitted, the first page will be returned.

        '
      in: query
      name: page
      required: false
      schema:
        type: integer
        format: int32
  schemas:
    VehicleModel:
      description: The model of a Vehicle, e.g. '176042_002'.
      properties:
        _links:
          $ref: '#/components/schemas/SelfConfigurationLinks'
        baumuster:
          type: string
        modelId:
          type: string
        name:
          type: string
        nationalSalesType:
          type: string
        priceInformation:
          $ref: '#/components/schemas/PriceInformation'
        productGroup:
          $ref: '#/components/schemas/ProductGroup'
        shortName:
          type: string
        vehicleBody:
          $ref: '#/components/schemas/VehicleBody'
        vehicleClass:
          $ref: '#/components/schemas/VehicleClass'
      required:
      - modelId
      - shortName
      - name
      - baumuster
      - nationalSalesType
      - vehicleClass
      - vehicleBody
      - productGroup
      - priceInformation
      - _links
      type: object
    PriceInformation:
      description: The prices, installment price, taxes and ISO currency of a vehicle.
      properties:
        currency:
          type: string
        instalmentPrice:
          type: number
        netPrice:
          type: number
        price:
          type: number
        taxes:
          items:
            $ref: '#/components/schemas/Tax'
          type: array
      required:
      - price
      - netPrice
      - currency
      - taxes
      type: object
    SelfReferencesLinks:
      description: Market specific links to the specific resources. i.e. classes, bodies, etc.
      properties:
        bodies:
          $ref: '#/components/schemas/HRef'
        classes:
          $ref: '#/components/schemas/HRef'
        models:
          $ref: '#/components/schemas/HRef'
        productgroups:
          $ref: '#/components/schemas/HRef'
        self:
          $ref: '#/components/schemas/HRef'
      required:
      - self
      - classes
      - bodies
      - models
      - productgroups
      type: object
    Tax:
      description: The country specific tax information.
      properties:
        amount:
          type: number
        baseAmount:
          type: number
        charge:
          type: number
        id:
          type: string
        rate:
          type: number
      required:
      - id
      - amount
      - baseAmount
      - charge
      - rate
      type: object
    VehicleBody:
      description: The body of a Vehicle, e.g. 'Limousine'.
      properties:
        _links:
          $ref: '#/components/schemas/SelfModelLinks'
        bodyId:
          type: string
        bodyName:
          type: string
      required:
      - bodyId
      - bodyName
      - _links
      type: object
    SelfConfigurationLinks:
      description: Links to self and configuration resources.
      properties:
        configuration:
          $ref: '#/components/schemas/HRef'
        self:
          $ref: '#/components/schemas/HRef'
      required:
      - self
      - configuration
      type: object
    SelfModelLinks:
      description: Links to self and models resources.
      properties:
        models:
          $ref: '#/components/schemas/HRef'
        self:
          $ref: '#/components/schemas/HRef'
      required:
      - self
      - models
      type: object
    ProductGroupsPerMarket:
      description: Represent the active product groups for a market.
      properties:
        _links:
          $ref: '#/components/schemas/SelfModelLinks'
        market:
          $ref: '#/components/schemas/Market'
        productGroups:
          items:
            $ref: '#/components/schemas/ProductGroup'
          type: array
      required:
      - market
      - productGroups
      - _links
      type: object
    ProductGroup:
      description: Represent a product group.
      enum:
      - PKW
      - VAN
      - SMART
      properties:
        name:
          type: string
      required:
      - name
      type: object
    Market:
      description: Represent a market (aka country) with a specific country and a language.
      properties:
        _links:
          $ref: '#/components/schemas/SelfReferencesLinks'
        country:
          type: string
        language:
          type: string
        marketId:
          type: string
      required:
      - marketId
      - country
      - language
      - _links
      type: object
    HRef:
      description: The URL to the specific resource.
      properties:
        href:
          type: string
      required:
      - href
      type: object
    VehicleClass:
      description: The class of a Vehicle, e.g. 'A-Class'.
      properties:
        _links:
          $ref: '#/components/schemas/SelfModelLinks'
        classId:
          type: string
        className:
          type: string
      required:
      - classId
      - className
      - _links
      type: object
    DefaultLinks:
      description: default links
      properties:
        next:
          $ref: '#/components/schemas/Link'
        previous:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
      type: object
    Country:
      properties:
        countryId:
          description: the country id
          type: string
        isoCode:
          description: the country iso code
          type: string
        name:
          description: the country name
          type: string
      required:
      - countryId
      - isoCode
      - name
      type: object
    HalifiedCountries:
      description: countries and navigation links for additional results.
      properties:
        _links:
          $ref: '#/components/schemas/DefaultLinks'
        countries:
          description: countries
          items:
            $ref: '#/components/schemas/Country'
          type: array
      required:
      - _links
      type: object
    Link:
      description: the representation of a link
      properties:
        href:
          description: the target of the link
          type: string
      required:
      - href
      type: object
x-refined-from:
- mercedes-me-configurator-api-openapi.yml
- mercedes-me-dealer-api-openapi.yml
x-default-apikey: Tyt82ndiKG0AdH8TCqe001ROh7RsGOKB
