swagger: '2.0'
info:
  contact:
    name: The open API platform by Mercedes-Benz
    x-twitter: MercedesBenz
  description: The Car Configurator API offers access to the Mercedes-Benz car configuration functions. It provides required reference data such as the masterdata of all Mercedes-Benz vehicles as well as functions to retrieve initial and changed configurations. In addition to that is is possible to save a newly created configuration so that it can be easily restored or shared with others.
  title: Car Configurator Components Perspectives API
  version: '2.0'
  x-apisguru-categories:
  - transport
  x-logo:
    url: https://twitter.com/MercedesBenz/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://developer.mercedes-benz.com/content/sites/default/files/2018-08/swagger_car_configurator_api.json
  x-providerName: mercedes-benz.com
  x-serviceName: configurator
host: api.mercedes-benz.com
basePath: /configurator_tryout/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Perspectives
paths:
  /{finorvin}/vehicle:
    x-swagger-router-controller: images_vehicle_finvin
    get:
      description: Returns URLs pointing to PNG images of a vehicle with a transparent background.
      operationId: imageVehicleGET
      parameters:
      - $ref: '#/parameters/finorvin'
      - $ref: '#/parameters/perspectives'
      - $ref: '#/parameters/roofOpen'
      - $ref: '#/parameters/night'
      responses:
        '200':
          description: Successful response
          headers:
            X-Request-Id:
              description: Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.
              type: string
            cache-control:
              default: max-age=86400
              description: Specifies the maximum amount of time (in seconds) an image is considered to be up-to-date
              type: string
          schema:
            $ref: '#/definitions/VehicleResponse'
        '204':
          description: No content could be found for your request. Try to use different parameters instead.
          headers:
            X-Request-Id:
              description: Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.
              type: string
        '400':
          description: One of the provided parameters was invalid. Verify your query and inspect the global error object in the response for further information.
          headers:
            X-Request-Id:
              description: Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.
              type: string
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: "Unauthorized: \n  * Failed to resolve API Key query parameter \n  * Invalid API Key "
        '404':
          description: The requested FIN/VIN could not be resolved. Please verify that your FIN/VIN is correct.
          headers:
            X-Request-Id:
              description: 'Returns a randomly generated (unique) request id that was assigned to the request for internal tracing and logging. Provide this request id for troubleshooting in a support case.            '
              type: string
          schema:
            $ref: '#/definitions/Error'
        '429':
          description: Quota limit is exceeded
        '500':
          description: The requested FIN/VIN could not be resolved because external resources are not available or the server encountered an internal error.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Perspectives
definitions:
  ImageUrlWithError:
    description: An object describing an image URL that could be a vehicle image for example. This includes the URL to the content. In case of an error that is related to the requested image material (e.g. perspective), an error object is present containing further information.
    properties:
      error:
        $ref: '#/definitions/Error'
      url:
        type: string
  VehicleResponse:
    description: The response object holds either an error object, in case that the request was malformed, or a vehicle object containing all urls for the requested perspectives.
    properties:
      vehicle:
        additionalProperties:
          $ref: '#/definitions/ImageUrlWithError'
        description: A map holding a vehicle image for each requested perspective, e.g. EXT000.
        type: object
    required:
    - vehicle
  Error:
    description: The error object containing detailed information about the error.
    properties:
      code:
        type: string
      message:
        type: string
    type: object
parameters:
  night:
    default: false
    description: Set 'true', if you are looking for images with a darker background and the vehicle's headlights turned on. Default is 'false'.
    in: query
    name: night
    required: false
    type: boolean
  finorvin:
    default: WDD1760421J123456
    description: "The FIN or VIN of one specific vehicle. For testing purposes the following sample FINs are available (please note that these FINs are NOT available in the tryout): \n  * E 350 d: WDD2130331A123456\n  * B 180: WDD2462421N123456\n  * GLA 200: WDC1569431J123456\n  * S 500 Cabrio: WDD2174821A123456\n  * Smart fortwo turbo: WME4533441K012345"
    in: path
    name: finorvin
    required: true
    type: string
  roofOpen:
    default: false
    description: Set 'true', if you are looking for images with the roof open. This option is only valid for cabrios. Default is 'false'.
    in: query
    name: roofOpen
    required: false
    type: boolean
  perspectives:
    default: EXT020,INT1
    description: "One or more perspectives as a comma separated String list e.g. 'EXT000,EXT010,INT1'.  The following perspectives are available:\n  * EXT000-EXT350: EXT000 defines the front view, EXT010 defines a rotation of 10 degress and so forth.\n  * INT1-INT4: These are the 4 available interior perspectives.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n  \nThe default value is EXT020,INT1 if no value is provided."
    in: query
    name: perspectives
    required: false
    type: string
x-default-apikey: Tyt82ndiKG0AdH8TCqe001ROh7RsGOKB
