openapi: 3.2.0
info:
  contact:
    name: The open API platform by Mercedes-Benz
    x-twitter: MercedesBenz
  description: The Car Configurator API offers access to the Mercedes-Benz car configuration functions. It provides required reference data such as the masterdata of all Mercedes-Benz vehicles as well as functions to retrieve initial and changed configurations. In addition to that is is possible to save a newly created configuration so that it can be easily restored or shared with others.
  title: Car Configurator Saved configurations API
  version: '1.0'
  x-apisguru-categories:
  - transport
  x-logo:
    url: https://twitter.com/MercedesBenz/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://developer.mercedes-benz.com/content/sites/default/files/2018-08/swagger_car_configurator_api.json
    version: '2.0'
  x-providerName: mercedes-benz.com
  x-serviceName: configurator
servers:
- url: https://api.mercedes-benz.com/configurator_tryout/v1
tags:
- description: Store and load configurations with an onlinecode
  name: Saved configurations
paths:
  /markets/{marketId}/onlinecode:
    x-swagger-router-controller: Saved_configurations
    post:
      description: Stores the configuration of the given **configurationId** and **modelId**
      operationId: onlineCodePOST
      parameters:
      - $ref: '#/components/parameters/marketId'
      - $ref: '#/components/parameters/onlineCodeRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnlineCodeResponseBody'
        '400':
          description: "Invalid parameter was specified:\n * MarketId is not valid\n * ModelId is not valid\n * ConfigurationId is not valid"
        '401':
          description: "Unauthorized:\n  * Failed to resolve API Key query parameter\n  * Invalid API Key"
        '404':
          description: Configuration has not been found
        '429':
          description: Quota limit is exceeded
        '500':
          description: An Error occurred on the server side
      summary: Stores the Configuration of the Given configurationId and modelId
      tags:
      - Saved configurations
  /markets/{marketId}/onlinecode/{onlineCode}:
    x-swagger-router-controller: Saved_configurations
    get:
      description: Gets the configuration for the given marketId and onlineCode.
      operationId: onlineCodeGET
      parameters:
      - $ref: '#/components/parameters/onlineCode'
      - $ref: '#/components/parameters/marketId'
      - $ref: '#/components/parameters/fieldsFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleConfiguration'
        '400':
          description: "Invalid parameter was specified:\n * MarketId is not valid\n * OnlineCode is not valid\n * Fields is not valid"
        '401':
          description: "Unauthorized:\n  * Failed to resolve API Key query parameter\n  * Invalid API Key"
        '404':
          description: Configuration or Market has not been found
        '429':
          description: Quota limit is exceeded
        '500':
          description: An Error occurred on the server side
      summary: Get the Configuration of the Given onlineCode and marketId
      tags:
      - Saved configurations
components:
  schemas:
    WltpEmission:
      description: The Wltp 'Worldwide harmonized Light vehicles Test Procedure' emission.
      properties:
        chargeDeplete:
          $ref: '#/components/schemas/WltpGear'
        chargeDepleteCop:
          $ref: '#/components/schemas/WltpGear'
        chargeDepleteWeighted:
          $ref: '#/components/schemas/WltpGear'
        extraHigh:
          $ref: '#/components/schemas/WltpGear'
        high:
          $ref: '#/components/schemas/WltpGear'
        low:
          $ref: '#/components/schemas/WltpGear'
        lowMid:
          $ref: '#/components/schemas/WltpGear'
        medium:
          $ref: '#/components/schemas/WltpGear'
        total:
          $ref: '#/components/schemas/WltpGear'
        weighted:
          $ref: '#/components/schemas/WltpGear'
      type: object
    EngineConcept:
      description: The kind of fuel used by an engine of a vehicle determines the engine type. Where UNDEFINED is used as the default and/or error case.
      enum:
      - MONO_REGULAR
      - MONO_DIESEL
      - MONO_GAS
      - MONO_ELECTRIC
      - MONO_FUELCELL
      - BI_NGT
      - BI_NGD
      - BI_MILD
      - BI_PLUGIN
      - MONO_UNDEFINED
      - BI_UNDEFINED
      - BI_HYBRID_UNDEFINED
      - BI_COMBUSTION_UNDEFINED
      - UNDEFINED
      type: string
    NedcGear:
      description: The gear of a vehicle. A vehicle can have a primary and a secondary gear.
      properties:
        primaryGear:
          $ref: '#/components/schemas/NedcAmount'
        secondaryGear:
          $ref: '#/components/schemas/NedcAmount'
      type: object
    OnlineCodeResponseBody:
      description: The onlinecode is a unique identifier for a stored vehicle configuration.
      properties:
        onlineCode:
          description: String that identifies the online code
          type: string
      required:
      - onlineCode
    SelfSelectablesImageVehicleLinks:
      description: Links to self and image resources.
      properties:
        imageapi_vehicle:
          $ref: '#/components/schemas/HRef'
        selectables:
          $ref: '#/components/schemas/HRef'
        self:
          $ref: '#/components/schemas/HRef'
      required:
      - self
      - selectables
      - imageapi_vehicle
      type: object
    FuelEconomy:
      description: This is for the fuel consumption holding a value and unit.
      properties:
        consumptionOfElectricityMax:
          $ref: '#/components/schemas/Amount'
        consumptionOfElectricityMin:
          $ref: '#/components/schemas/Amount'
        emissionCO2Max:
          $ref: '#/components/schemas/Amount'
        emissionCO2Min:
          $ref: '#/components/schemas/Amount'
        fuelConsumptionCityMax:
          $ref: '#/components/schemas/Amount'
        fuelConsumptionCityMin:
          $ref: '#/components/schemas/Amount'
        fuelConsumptionCombinedMax:
          $ref: '#/components/schemas/Amount'
        fuelConsumptionCombinedMin:
          $ref: '#/components/schemas/Amount'
        fuelConsumptionElectricity:
          $ref: '#/components/schemas/Amount'
        fuelConsumptionOverlandMax:
          $ref: '#/components/schemas/Amount'
        fuelConsumptionOverlandMin:
          $ref: '#/components/schemas/Amount'
    WltpGear:
      description: The gear of a vehicle. A vehicle can have a primary and a secondary gear.
      properties:
        primaryGear:
          $ref: '#/components/schemas/WltpAmount'
        secondaryGear:
          $ref: '#/components/schemas/WltpAmount'
      type: object
    Wltp:
      description: Holds all relevant informations for the Wltp 'Worldwide harmonized Light vehicles Test Procedure' drive cycle.
      properties:
        consumption:
          $ref: '#/components/schemas/WltpConsumption'
        emission:
          $ref: '#/components/schemas/WltpEmission'
    PriceInformation:
      description: The prices, installment price, taxes and ISO currency of a vehicle.
      properties:
        currency:
          type: string
        instalmentPrice:
          type: number
        netPrice:
          type: number
        price:
          type: number
        taxes:
          items:
            $ref: '#/components/schemas/Tax'
          type: array
      required:
      - price
      - netPrice
      - currency
      - taxes
      type: object
    FuelType:
      description: The kind of fuel used by an engine of a vehicle. Where UNDEFINED is used as the default and/or error case.
      enum:
      - NORMAL
      - SUPER
      - SUPERPLUS
      - DIESEL
      - HGAS
      - GAS
      - ELECTRIC
      - FUELCELL
      - UNDEFINED
      type: string
    WltpConsumption:
      description: The Wltp 'Worldwide harmonized Light vehicles Test Procedure' consumption.
      properties:
        chargeDeplete:
          $ref: '#/components/schemas/WltpGear'
        chargeDepleteCop:
          $ref: '#/components/schemas/WltpGear'
        extraHigh:
          $ref: '#/components/schemas/WltpGear'
        high:
          $ref: '#/components/schemas/WltpGear'
        low:
          $ref: '#/components/schemas/WltpGear'
        medium:
          $ref: '#/components/schemas/WltpGear'
        total:
          $ref: '#/components/schemas/WltpGear'
        weighted:
          $ref: '#/components/schemas/WltpGear'
      type: object
    Transmission:
      description: The transmission of the vehicle configuration.
      properties:
        code:
          type: string
        codeType:
          type: string
        name:
          type: string
      required:
      - code
      - codeType
      - name
    TechnicalInformation:
      description: Contains all technical information calculated using BDAs.
      properties:
        acceleration:
          $ref: '#/components/schemas/Amount'
        doors:
          type: number
        energyEfficiencyClass:
          type: string
        engine:
          $ref: '#/components/schemas/Engine'
        nedc:
          $ref: '#/components/schemas/Nedc'
        seats:
          type: number
        topSpeed:
          $ref: '#/components/schemas/Amount'
        transmission:
          $ref: '#/components/schemas/Transmission'
        wltp:
          $ref: '#/components/schemas/Wltp'
      required:
      - engine
      - transmission
    Nedc:
      description: Holds all relevant informations for the Nedc 'New European Drive Cycle'.
      properties:
        consumption:
          $ref: '#/components/schemas/NedcConsumption'
        electricRange:
          $ref: '#/components/schemas/NedcAmount'
        emission:
          $ref: '#/components/schemas/NedcEmission'
        weight:
          $ref: '#/components/schemas/NedcAmount'
    Tax:
      description: The country specific tax information.
      properties:
        amount:
          type: number
        baseAmount:
          type: number
        charge:
          type: number
        id:
          type: string
        rate:
          type: number
      required:
      - id
      - amount
      - baseAmount
      - charge
      - rate
      type: object
    VehicleConfiguration:
      description: A vehicle configuration.
      properties:
        _links:
          $ref: '#/components/schemas/SelfSelectablesImageVehicleLinks'
        changeYear:
          type: string
        configurationId:
          type: string
        configurationPrice:
          $ref: '#/components/schemas/PriceInformation'
        initialPrice:
          $ref: '#/components/schemas/PriceInformation'
        marketId:
          type: string
        modelId:
          type: string
        modelYear:
          type: string
        technicalInformation:
          $ref: '#/components/schemas/TechnicalInformation'
        vehicleComponents:
          items:
            $ref: '#/components/schemas/VehicleComponent'
          type: array
        wltpConfiguration:
          type: boolean
      required:
      - marketId
      - modelId
      - configurationId
      - initialPrice
      - configurationPrice
      - modelYear
      - changeYear
      - vehicleComponents
      - technicalInformation
      - wltpConfiguration
      - _links
      type: object
    VehicleComponent:
      description: A vehicle component.
      properties:
        _links:
          $ref: '#/components/schemas/ImageComponentLink'
        code:
          type: string
        codeType:
          type: string
        componentSortId:
          type: number
        componentType:
          $ref: '#/components/schemas/VehicleComponentType'
        description:
          description: HTML elements can be present
          type: string
        fixed:
          description: Cannot changed by the customer
          type: boolean
        hidden:
          description: Hidden, should not be displayed to the customer, not relevant for the customer
          type: boolean
        id:
          type: string
        name:
          type: string
        priceInformation:
          $ref: '#/components/schemas/PriceInformation'
        pseudoCode:
          description: Not relevant for the customer
          type: boolean
        selected:
          description: Selected by the customer
          type: boolean
        standard:
          description: Standard equipment
          type: boolean
      required:
      - id
      - componentSortId
      - name
      - description
      - code
      - codeType
      - componentType
      - priceInformation
      - standard
      - selected
      - fixed
      - hidden
      - pseudoCode
      - _links
      type: object
    Engine:
      description: All technical information about a specific engine.
      properties:
        alternativeFuelType:
          $ref: '#/components/schemas/FuelType'
        capacity:
          $ref: '#/components/schemas/Amount'
        cylinder:
          type: string
        driveConcept:
          $ref: '#/components/schemas/DriveConcept'
        emissionStandard:
          type: string
        engineConcept:
          $ref: '#/components/schemas/EngineConcept'
        fuelEconomy:
          $ref: '#/components/schemas/FuelEconomy'
        fuelType:
          $ref: '#/components/schemas/FuelType'
        powerHp:
          $ref: '#/components/schemas/Amount'
        powerHybridExtensionHp:
          $ref: '#/components/schemas/Amount'
        powerHybridExtensionKw:
          $ref: '#/components/schemas/Amount'
        powerKw:
          $ref: '#/components/schemas/Amount'
      required:
      - fuelType
    NedcEmission:
      description: The Nedc 'New European Drive Cycle' emission.
      properties:
        city:
          $ref: '#/components/schemas/NedcGear'
        combined:
          $ref: '#/components/schemas/NedcGear'
        country:
          $ref: '#/components/schemas/NedcGear'
        weighted:
          $ref: '#/components/schemas/NedcAmount'
      type: object
    VehicleComponentType:
      description: The component type of a vehicle component.
      enum:
      - ANY
      - WHEELS
      - PAINTS
      - UPHOLSTERIES
      - TRIMS
      - PACKAGES
      - LINES
      - SPECIAL_EDITION
      - SPECIAL_EQUIPMENT
      type: string
    WltpAmount:
      description: The Wltp 'Worldwide harmonized Light vehicles Test Procedure' drive cycle specific amount holds the wltp specific values.
      properties:
        individual:
          $ref: '#/components/schemas/Amount'
        max:
          $ref: '#/components/schemas/Amount'
        min:
          $ref: '#/components/schemas/Amount'
      required:
      - individual
      - min
      - max
      type: object
    Amount:
      description: Holds a value and unit.
      properties:
        unit:
          type: string
        value:
          type: number
      required:
      - value
    ImageComponentLink:
      description: Link to VIM image API.
      properties:
        imageapi_component:
          $ref: '#/components/schemas/HRef'
      required:
      - imageapi_component
      type: object
    NedcConsumption:
      description: The Nedc 'New European Drive Cycle' consumption.
      properties:
        city:
          $ref: '#/components/schemas/NedcGear'
        combined:
          $ref: '#/components/schemas/NedcGear'
        country:
          $ref: '#/components/schemas/NedcGear'
        electric:
          $ref: '#/components/schemas/NedcAmount'
        weighted:
          $ref: '#/components/schemas/NedcGear'
      type: object
    HRef:
      description: The URL to the specific resource.
      properties:
        href:
          type: string
      required:
      - href
      type: object
    OnlineCodeRequestBody:
      description: JSON object containing the modelId and the configurationId
      example:
        configurationId: E-AB5-D09-D14-D53-D71-D80-L06-L19-M69-M70-M88-M94-N63-O16-O92-Q31-Q56-S09-S16_L-197_P-518_S-08U-09U-11R-12U-14U-160-16U-17U-223-231-233-235-23P-249-266-275-276-290-293-297-299-351-360-401-402-413-427-432-436-439-441-443-448-452-453-463-470-471-475-487-503-518-531-538-540-551-581-582-596-628-642-68U-70B-735-808-810-840-871-874-877-881-882-883-889-897-8U0-902-B59-H29-L2B-P07-P09-P17-P21-P34-P35-P47-P54-P64-R66-SZ4-U10-U12-U25
        modelId: 222980000
      properties:
        configurationId:
          description: String that identifies a configuration. e.g. E-D15-D18-D41-D46-D49-D52-D53-D54-D59-D60-D71-F32-F36-F88-F98-G03-G05-G36-G56-I61-J67-M23-M70-N18-N25-N62-N92-O76-Q29-Q56-Q79-Q92-S01-S05-S08-S63-S92-T05-T07-T62-T84-T88_I-953_L-696_P-001_S-152-160-161-171-258-290-292-294-411-442-470-472-475-485-516-533-538-560-570-573-580-584-58U-591-620-70B-807-888-B03-B16-B51-K11-L18-R43-U60
          type: string
        modelId:
          description: String that identifies a model. e.g. '176042_002'
          type: string
      required:
      - modelId
      - configurationId
    DriveConcept:
      description: The kind of drive concept of a vehicle. Where UNDEFINED is used as the default and/or error case.
      enum:
      - COMBUSTOR
      - HYBRID
      - ELECTRIC
      - FUELCELL
      - UNDEFINED
      type: string
    NedcAmount:
      description: The Nedc 'New European Drive Cycle' specific amount holds the nedc specific values.
      properties:
        individual:
          $ref: '#/components/schemas/Amount'
        max:
          $ref: '#/components/schemas/Amount'
        min:
          $ref: '#/components/schemas/Amount'
      required:
      - individual
      - min
      - max
      type: object
  parameters:
    fieldsFilter:
      description: Specifies which fields should be included in the result. If this filter is not used, per default all fields are returned.
      in: query
      name: fieldsFilter
      required: false
      schema:
        type: array
        items:
          type: string
    marketId:
      description: This is a ISO 3166 language country string e.g. 'de_DE' or 'en_GB'.
      in: path
      name: marketId
      required: true
      schema:
        type: string
        default: de_DE
        pattern: ^[a-z]{2}_[A-Z]{2}$
    onlineCodeRequestBody:
      description: JSON object containing the modelId and the configurationId. ModelId is a minimal string that identifies a model e.g. '176042_002'. ConfigurationId is a minimal string that identifies a configuration e.g. 'E-D15-D18-...-R43-U60'
      in: body
      name: body
      required: true
      schema:
        $ref: '#/components/schemas/OnlineCodeRequestBody'
    onlineCode:
      description: OnlineCode string that identifies a vehicle configuration e.g. 'M6882554'.
      in: path
      name: onlineCode
      required: true
      schema:
        type: string
        default: MQKCIHRI
x-default-apikey: Tyt82ndiKG0AdH8TCqe001ROh7RsGOKB
