swagger: '2.0'
info:
  contact:
    name: The open API platform by Mercedes-Benz
    x-twitter: MercedesBenz
  description: The Car Configurator API offers access to the Mercedes-Benz car configuration functions. It provides required reference data such as the masterdata of all Mercedes-Benz vehicles as well as functions to retrieve initial and changed configurations. In addition to that is is possible to save a newly created configuration so that it can be easily restored or shared with others.
  title: Car Configurator Components Electronical Control Units (ECU's) API
  version: '2.0'
  x-apisguru-categories:
  - transport
  x-logo:
    url: https://twitter.com/MercedesBenz/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://developer.mercedes-benz.com/content/sites/default/files/2018-08/swagger_car_configurator_api.json
  x-providerName: mercedes-benz.com
  x-serviceName: configurator
host: api.mercedes-benz.com
basePath: /configurator_tryout/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- description: Remote Diagnostic Support services for view ecu List.
  name: Electronical Control Units (ECU's)
paths:
  /vehicles/{vehicleId}/ecuReadouts:
    post:
      description: 'This API creates a readout of ECUs for one vehicle. If the result is available immediately, the result is returned. If the result isn''t available, a location to the ECU readout is returned. This location shall be polled until the result is available. INFO: GET Requests are not yet supported!'
      operationId: getEcuDataListByVehicleIdUsingPOST
      parameters:
      - description: The vehicle identifier of the vehicle to read from
        in: path
        name: vehicleId
        required: true
        type: string
        x-example: WDD111111PKW01000
      - description: 'Return this ECU id only. Default: Return all ECUs.'
        in: query
        name: ecuId
        required: false
        type: string
      produces:
      - application/x.exve.org.ecureadout.v1+json;charset=utf-8
      - application/json;charset=utf-8
      responses:
        '201':
          description: Returns an ECU List
          schema:
            $ref: '#/definitions/EcuDataContainer'
        '202':
          description: The request has been accepted for processing, but not completed.
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '402':
          description: Payment required
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Resource Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: Quota limit is exceeded.
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponse'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/ErrorResponse'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '505':
          description: Version not supported
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: View the List of Ecu for Specific vehicleId
      tags:
      - Electronical Control Units (ECU's)
definitions:
  CommonType:
    properties:
      asyncEstimatedComplete:
        description: Not Implemented. Estimated completion time of the readout
        format: date-time
        type: string
      asyncProgress:
        description: Not Implemented. Progress of the readout in percent.
        format: int32
        type: integer
      asyncStatus:
        description: Reflects the status of the readouts
        enum:
        - Pending
        - InProgress
        - Complete
        - Fail
        type: string
      asyncWait:
        description: Not Implemented. Recommended waiting time in milliseconds until next request for status.
        format: int64
        type: integer
      exveErrorId:
        description: The id of the error in case something failed
        type: string
      exveErrorMsg:
        description: The error message in case something failed
        type: string
      exveErrorRef:
        description: A unique reference to the error. Can be used in communication with the offering party to help in resolving problems.
        type: string
      exveNote:
        description: A message regarding the result of the request. Can be filled both when the request was completed and failed.
        type: string
      id:
        description: Id unique for this readout.
        type: string
      messageTimestamp:
        description: Timestamp when this message was created.
        format: date-time
        type: string
      receivedTimestamp:
        description: Timestamp when the data in the message was received by the ExVe backend from the vehicle.
        format: date-time
        type: string
      vehicleId:
        description: The vehicle identifier of the extended vehicle, e.g VIN
        type: string
    required:
    - id
    - messageTimestamp
    - asyncStatus
    - vehicleId
    type: object
  EcuDataType:
    allOf:
    - $ref: '#/definitions/CommonType'
    - properties:
        ecus:
          description: List of ECUs
          items:
            $ref: '#/definitions/EcuDataItem'
          type: array
      type: object
  EcuDataItem:
    properties:
      ecuId:
        description: Identifier of the ECU
        type: string
      hardwareIds:
        description: Identifier(s) of the hardware unit(s) in this ECU
        items:
          type: string
        type: array
      softwareIds:
        description: Identifier(s) of the software unit(s) in this ECU
        items:
          type: string
        type: array
    required:
    - ecuId
    - hardwareIds
    - softwareIds
    type: object
  EcuDataContainer:
    properties:
      ecuReadout:
        $ref: '#/definitions/EcuDataType'
    type: object
  ErrorResponse:
    properties:
      errorCode:
        description: Error Code
        type: string
      errorMessage:
        description: Error Message
        type: string
    type: object
x-default-apikey: Tyt82ndiKG0AdH8TCqe001ROh7RsGOKB
