swagger: '2.0'
info:
  contact:
    name: The open API platform by Mercedes-Benz
    x-twitter: MercedesBenz
  description: The Car Configurator API offers access to the Mercedes-Benz car configuration functions. It provides required reference data such as the masterdata of all Mercedes-Benz vehicles as well as functions to retrieve initial and changed configurations. In addition to that is is possible to save a newly created configuration so that it can be easily restored or shared with others.
  title: Car Configurator Components Diagnostic Trouble Code (DTC) Snapshots API
  version: '2.0'
  x-apisguru-categories:
  - transport
  x-logo:
    url: https://twitter.com/MercedesBenz/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://developer.mercedes-benz.com/content/sites/default/files/2018-08/swagger_car_configurator_api.json
  x-providerName: mercedes-benz.com
  x-serviceName: configurator
host: api.mercedes-benz.com
basePath: /configurator_tryout/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- description: Remote Diagnostic Support service for view dtc snapshot List.
  name: Diagnostic Trouble Code (DTC) Snapshots
paths:
  /vehicles/{vehicleId}/ecuId/{ecuId}/dtcId/{dtcId}/dtcSnapshotReadouts:
    post:
      description: 'This API creates a readout of a DTC snapshot from one vehicle. If the result is available immediately, the result is returned. If the result isn''t available, a location to the DTC snapshot readout is returned. This location shall be polled until the result is available. INFO: GET Requests are not yet supported!'
      operationId: getDtcSnapshotReadoutsUsingPOST
      parameters:
      - description: The vehicle identifier of the vehicle to read from
        in: path
        name: vehicleId
        required: true
        type: string
        x-example: WDD111111PKW01000
      - description: The id of the ECU to read from
        in: path
        name: ecuId
        required: true
        type: string
        x-example: DTR212
      - description: The id of the DTC associated with the snapshot
        in: path
        name: dtcId
        required: true
        type: string
        x-example: C163AFA
      produces:
      - application/x.exve.org.dtcSnapshotReadout.v1+json;charset=utf-8
      - application/json;charset=utf-8
      responses:
        '201':
          description: Returns a DTC Snapshot List
          schema:
            $ref: '#/definitions/DtcSnapshotDataContainer'
        '202':
          description: The request has been accepted for processing, but not completed.
        '204':
          description: The request has been accepted for processing, but no content is available.
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '402':
          description: Payment required
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Resource Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: Quota limit is exceeded.
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponse'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/ErrorResponse'
        '503':
          description: Service Unavailable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '505':
          description: Version not supported
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: View the List of Dtc Snapshot for Specific vehicleId
      tags:
      - Diagnostic Trouble Code (DTC) Snapshots
definitions:
  CommonType:
    properties:
      asyncEstimatedComplete:
        description: Not Implemented. Estimated completion time of the readout
        format: date-time
        type: string
      asyncProgress:
        description: Not Implemented. Progress of the readout in percent.
        format: int32
        type: integer
      asyncStatus:
        description: Reflects the status of the readouts
        enum:
        - Pending
        - InProgress
        - Complete
        - Fail
        type: string
      asyncWait:
        description: Not Implemented. Recommended waiting time in milliseconds until next request for status.
        format: int64
        type: integer
      exveErrorId:
        description: The id of the error in case something failed
        type: string
      exveErrorMsg:
        description: The error message in case something failed
        type: string
      exveErrorRef:
        description: A unique reference to the error. Can be used in communication with the offering party to help in resolving problems.
        type: string
      exveNote:
        description: A message regarding the result of the request. Can be filled both when the request was completed and failed.
        type: string
      id:
        description: Id unique for this readout.
        type: string
      messageTimestamp:
        description: Timestamp when this message was created.
        format: date-time
        type: string
      receivedTimestamp:
        description: Timestamp when the data in the message was received by the ExVe backend from the vehicle.
        format: date-time
        type: string
      vehicleId:
        description: The vehicle identifier of the extended vehicle, e.g VIN
        type: string
    required:
    - id
    - messageTimestamp
    - asyncStatus
    - vehicleId
    type: object
  DtcSnapshotDataContainer:
    properties:
      dtcSnapshotReadout:
        $ref: '#/definitions/DtcSnapshotDataType'
    type: object
  DtcSnapshotDataItem:
    properties:
      id:
        description: Name of snapshot parameter
        type: string
      value:
        description: Value of snapshot parameter
        type: string
    required:
    - id
    - value
    type: object
  DtcSnapshotDataType:
    allOf:
    - $ref: '#/definitions/CommonType'
    - properties:
        dtcId:
          description: Identifier of the DTC
          type: string
        dtcSnapshotParameters:
          description: List of dtcSnapshotParameters.
          items:
            $ref: '#/definitions/DtcSnapshotDataItem'
          type: array
        ecuId:
          description: Identifier of the ECU
          type: string
      required:
      - dtcId
      - ecuId
      type: object
  ErrorResponse:
    properties:
      errorCode:
        description: Error Code
        type: string
      errorMessage:
        description: Error Message
        type: string
    type: object
x-default-apikey: Tyt82ndiKG0AdH8TCqe001ROh7RsGOKB
